#please-rotate {
  height: 100vh;
  background-color: darkgray;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  display: none;
}

@media screen and (orientation: portrait) {
  #please-rotate {
    display: flex;
  }
}

body {
  font: 12px sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
}

a,
a:visited {
  color: darkblue;
}

.map-container {
  text-align: center;
}

div.tooltip {
  background: white;
  border-radius: 8px;
  border: 0;
  padding: 2px;
  pointer-events: none;
  position: absolute;
  text-align: center;
  width: 125px;
}

.background {
  fill: lightblue;
  pointer-events: all;
}

.feature {
  cursor: pointer;
  fill: rgb(210 226 185);
  stroke-width: 0.2;
  stroke: black;
}

.feature:hover {
  fill: rgb(254 254 229);
}

.feature.active {
  fill: #ffc;
}

.mesh {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: black;
}

.legend {
  text-align: center;
}

.modal {
  display: none;
  height: 100%;
  overflow: auto;
  padding-top: 5px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.modal-content {
  background-color: #fefefe;
  border-radius: 25px;
  border: 1px solid #888;
  font-size: medium;
  margin: auto;
  padding: 20px;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

img {
  border-radius: 25px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}

.button {
  background: #4e9caf;
  border-radius: 5px;
  color: white;
  display: block;
  font-weight: bold;
  height: 25px;
  line-height: 25px;
  padding: 10px;
  text-align: center;
  width: 115px;
}

.title {
  fill: black;
  font-size: larger;
  font-weight: bold;
  text-align: center;
}

.park-list {
  padding: 8px;
}

.park-list-table {
  display: flex;
  justify-content: center;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  align-self: center;
  width: 100%;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table :not(thead) tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: white;
}
