name: Node.js CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: "24"
      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - run: npm ci
      - run: npm run build
      - run: npm run lint-check
  pyLint:
    name: Python Script Linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"
          cache: "pip"
      - run: pip install -r requirements.txt
      - run: ./.github/scripts/python_lint.sh --check
  # A noop job used to add arbitrary annotations to PRs by the updateParks job
  parkMetadataUpdater:
    name: Park Metadata Updater
    runs-on: ubuntu-latest
    steps:
      - run: "exit 0"
