name: Update parks.json
on:
  push:
    branches: [main]
  schedule:
    - cron: "0 0 * * SUN"

jobs:
  updateParks:
    name: Update parks.json
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ github.head_ref }}
          token: ${{ secrets.PAT }}
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"
          cache: "pip"
      - run: pip install -r requirements.txt
      - name: Setup Node
        uses: actions/setup-node@v5
        with:
          node-version: "22"
          cache: "npm"
      - run: npm ci
      - run: |
          output=$(python .github/scripts/update_parks.py src/data/parks.json 2>&1)
          touch "${{ runner.temp }}/output.txt"
          if [ -n "$output" ]; then
          cat <<EOT >> "${{ runner.temp }}/output.txt"
          [
            {
              "filename": "src/data/parks.json",
              "lineNumber": 1,
              "columnNumber": 1,
              "errorCode": "E1",
              "errorDesc": ${output}
            }
          ]
          EOT
          fi
        env:
          NPS_API_KEY: ${{ secrets.NPS_API_KEY }}
      - run: cat "${{ runner.temp }}/output.txt"
      - run: jq . "${{ runner.temp }}/output.txt"
      - run: npm run lint-fix
      - name: Commit changes
        id: commit_changes
        uses: stefanzweifel/git-auto-commit-action@v6
        with:
          commit_message: Automated update to parks.json
          commit_author: James Curtin [Bot] <jamescurtin-bot@users.noreply.github.com>
          create_branch: true
          branch: update-parks-json
          push_options: "--force"
      - name: Create Pull Request
        uses: devops-infra/action-pull-request@v0.6.1
        with:
          github_token: ${{ secrets.PAT }}
          source_branch: update-parks-json
          target_branch: main
          title: Update parks.json
      # PR needs to be created and have checks start running before annotations can be made
      - run: sleep 10
      - name: Annotate PR
        if: |
          steps.commit_changes.outputs.changes_detected == 'true' && \
          hashFiles('${{ runner.temp }}/output.txt') != ''if: steps.commit_changes.outputs.changes_detected == 'true'
        uses: pytorch/add-annotations-github-action@8436d20d95a47566529672c4cb464770a1ec0b49
        with:
          mode: json
          check_name: Park Metadata Updater
          linter_output_path: "../../../../../${{ runner.temp }}/output.txt"
          commit_sha: ${{ steps.commit_changes.outputs.commit_hash }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
